body
{
    background-size: cover;
}

.heading
{
    width: 100%;
}

.heading h3
{
    display: inline;
    text-shadow: 6px 6px 6px yellow;

    
}

.heading button
{
    float: right;
    border: 1px solid white;
    box-shadow:  6px 6px 6px rgb(255, 225, 0);
}

.modal-dialog
{
    width: 90%;
}

.instruction_image
{
    display: inline-block;
    width: 45%;
}

h4
{
   background-color: #f5f5f5;
   line-height: 2;
   margin: 0px;
}

#start, #status, #restart
{
font-size: 22px;
}

video
{
    background:url("game_console2.png");
    background-size:cover;
    background-position: center;
    padding: 25px;
   
}

canvas
{
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 5px 5px 5px white;
}